.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    font-size: 16px;
    background-color: black;
  }


  .map {
      position: absolute;
      right: 0px;
      left: 400px;
      height: 100%;
      top: 0;
  }

  .button {
      background-color: #252924;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      top: 25em;
      position: absolute;
  }

#button-next {
  left: 12em;
}

#button-previous {
  left: 1em;
}
h1 {
  position: absolute;
  left: 0.5em;
  color: white;
  font-size: 3.3em;

}

h2 {
  position: absolute;
  left: 0.5em;
  top: 5em;
  color: white;
  font-size: 2.2em;
  white-space: pre-line;
}
